.fa-plus-square-o::before {
    content: "▶" !important;
    font-weight: 900;
}

.fa-minus-square-o::before {
    content: "▼" !important;
    font-weight: 900;
}

.page-footer>span {
    text-align: right;
}

/* BODY BACKGROUND */
/* BODY BACKGROUND */
/* BODY BACKGROUND */
/* BODY BACKGROUND */
/* BODY BACKGROUND */
body,
.layout-content.status.status-api .section .example-container .example-opener .color-secondary,
.grouped-items-selector,
.layout-content.status.status-full-history .history-nav a.current,
#uptime-tooltip .tooltip-box {
    background-color: #ffffff;
}

#uptime-tooltip .pointer-container .pointer-smaller {
    border-bottom-color: #ffffff;
}




/* PRIMARY FONT COLOR */
/* PRIMARY FONT COLOR */
/* PRIMARY FONT COLOR */
/* PRIMARY FONT COLOR */
body.status,
.color-primary,
.color-primary:hover,
.layout-content.status-index .status-day .update-title.impact-none a,
.layout-content.status-index .status-day .update-title.impact-none a:hover,
.layout-content.status-index .timeframes-container .timeframe.active,
.layout-content.status-full-history .month .incident-container .impact-none,
.layout-content.status.status-index .incidents-list .incident-title.impact-none a,
.incident-history .impact-none,
.layout-content.status .grouped-items-selector.inline .grouped-item.active,
.layout-content.status.status-full-history .history-nav a.current,
.layout-content.status.status-full-history .history-nav a:not(.current):hover,
#uptime-tooltip .tooltip-box .tooltip-content .related-events .related-event a.related-event-link {
    color: #737F8D;
}

.layout-content.status.status-index .components-statuses .component-container .name {
    color: #737F8D;
    color: rgba(115, 127, 141, .8);
}





/* BORDER COLOR */
/* BORDER COLOR */
/* BORDER COLOR */
/* BORDER COLOR */
/* BORDER COLOR */
/* BORDER COLOR */
body.status .layout-content.status .border-color,
hr,
.tooltip-base,
.markdown-display table,
#uptime-tooltip .tooltip-box {
    border-color: #E0E0E0;
}

.markdown-display table td {
    border-top-color: #E0E0E0;
}

.markdown-display table td+td,
.markdown-display table th+th {
    border-left-color: #E0E0E0;
}

#uptime-tooltip .pointer-container .pointer-larger {
    border-bottom-color: #E0E0E0;
}

#uptime-tooltip .tooltip-box .outage-field {
    /*
      Generate the background-color for the outage-field from the css_body_background_color and css_border_color.

      For the default background (#ffffff) and default css_border_color (#e0e0e0), use the luminosity of the default background with a magic number to arrive at
      the original outage-field background color (#f4f5f7). I used the formula Target Color = Color * alpha + Background * (1 - alpha) to find the magic number of ~0.08.

      For darker css_body_background_color, luminosity values are lower so alpha trends toward becoming transparent (thus outage-field background becomes same as css_body_background_color).
    */
    background-color: rgba(224, 224, 224, 0.31);

    /*
      outage-field border-color alpha is inverse to the luminosity of css_body_background_color.
      That is to say, with a default white background this border is transparent, but on a black background, it's opaque css_border_color.
    */
    border-color: rgba(224, 224, 224, 0.0);
}




/* CSS REDS */
/* CSS REDS */
/* CSS REDS */
/* CSS REDS */
/* CSS REDS */
/* CSS REDS */
/* CSS REDS */
.layout-content.status.status-index .status-day .update-title.impact-critical a,
.layout-content.status.status-index .status-day .update-title.impact-critical a:hover,
.layout-content.status.status-index .page-status.status-critical,
.layout-content.status.status-index .unresolved-incident.impact-critical .incident-title,
.flat-button.background-red,
.mprj-critical {
    background-color: #f04747;
}

.layout-content.status-index .components-statuses .component-container.status-red:after,
.layout-content.status-full-history .month .incident-container .impact-critical,
.layout-content.status-incident .incident-name.impact-critical,
.layout-content.status.status-index .incidents-list .incident-title.impact-critical a,
.status-red .icon-indicator,
.incident-history .impact-critical,
.components-container .component-inner-container.status-red .component-status,
.components-container .component-inner-container.status-red .icon-indicator,
.mprj-inline-critical {
    color: #f04747;
}

.layout-content.status.status-index .unresolved-incident.impact-critical .updates,
.mprj-critical {
    border-color: #f04747;
}




/* CSS ORANGES */
/* CSS ORANGES */
/* CSS ORANGES */
/* CSS ORANGES */
/* CSS ORANGES */
/* CSS ORANGES */
.layout-content.status.status-index .status-day .update-title.impact-major a,
.layout-content.status.status-index .status-day .update-title.impact-major a:hover,
.layout-content.status.status-index .page-status.status-major,
.layout-content.status.status-index .unresolved-incident.impact-major .incident-title,
.mprj-major {
    background-color: #f26522;
}

.layout-content.status-index .components-statuses .component-container.status-orange:after,
.layout-content.status-full-history .month .incident-container .impact-major,
.layout-content.status-incident .incident-name.impact-major,
.layout-content.status.status-index .incidents-list .incident-title.impact-major a,
.status-orange .icon-indicator,
.incident-history .impact-major,
.components-container .component-inner-container.status-orange .component-status,
.components-container .component-inner-container.status-orange .icon-indicator,
.mprj-inline-major {
    color: #f26522;
}

.layout-content.status.status-index .unresolved-incident.impact-major .updates,
.mprj-major {
    border-color: #f26522;
}




/* CSS YELLOWS */
/* CSS YELLOWS */
/* CSS YELLOWS */
/* CSS YELLOWS */
/* CSS YELLOWS */
/* CSS YELLOWS */
.layout-content.status.status-index .status-day .update-title.impact-minor a,
.layout-content.status.status-index .status-day .update-title.impact-minor a:hover,
.layout-content.status.status-index .page-status.status-minor,
.layout-content.status.status-index .unresolved-incident.impact-minor .incident-title,
.layout-content.status.status-index .scheduled-incidents-container .tab,
.mprj-minor {
    background-color: #faa61a;
}

.layout-content.status-index .components-statuses .component-container.status-yellow:after,
.layout-content.status-full-history .month .incident-container .impact-minor,
.layout-content.status-incident .incident-name.impact-minor,
.layout-content.status.status-index .incidents-list .incident-title.impact-minor a,
.status-yellow .icon-indicator,
.incident-history .impact-minor,
.components-container .component-inner-container.status-yellow .component-status,
.components-container .component-inner-container.status-yellow .icon-indicator,
.layout-content.status.manage-subscriptions .confirmation-infobox .fa,
.mprj-inline-minor {
    color: #faa61a;
}

.layout-content.status.status-index .unresolved-incident.impact-minor .updates,
.layout-content.status.status-index .scheduled-incidents-container,
.mprj-minor {
    border-color: #faa61a;
}




/* CSS BLUES */
/* CSS BLUES */
/* CSS BLUES */
/* CSS BLUES */
/* CSS BLUES */
/* CSS BLUES */
.layout-content.status.status-index .status-day .update-title.impact-maintenance a,
.layout-content.status.status-index .status-day .update-title.impact-maintenance a:hover,
.layout-content.status.status-index .page-status.status-maintenance,
.layout-content.status.status-index .unresolved-incident.impact-maintenance .incident-title,
.layout-content.status.status-index .scheduled-incidents-container .tab,
.mprj-maintenance {
    background-color: #3498DB;
}

.layout-content.status-index .components-statuses .component-container.status-blue:after,
.layout-content.status-full-history .month .incident-container .impact-maintenance,
.layout-content.status-incident .incident-name.impact-maintenance,
.layout-content.status.status-index .incidents-list .incident-title.impact-maintenance a,
.status-blue .icon-indicator,
.incident-history .impact-maintenance,
.components-container .component-inner-container.status-blue .component-status,
.components-container .component-inner-container.status-blue .icon-indicator,
.mprj-inline-maintenance {
    color: #3498DB;
}

.layout-content.status.status-index .unresolved-incident.impact-maintenance .updates,
.layout-content.status.status-index .scheduled-incidents-container,
.mprj-maintenance {
    border-color: #3498DB;
}




/* CSS GREENS */
/* CSS GREENS */
/* CSS GREENS */
/* CSS GREENS */
/* CSS GREENS */
/* CSS GREENS */
/* CSS GREENS */
.layout-content.status.status-index .page-status.status-none,
.mprj-ok {
    background-color: #43b581;
}

.layout-content.status-index .components-statuses .component-container.status-green:after,
.status-green .icon-indicator,
.components-container .component-inner-container.status-green .component-status,
.components-container .component-inner-container.status-green .icon-indicator,
.mprj-inline-ok {
    color: #43b581;
}




/* CSS LINK COLOR */
/* CSS LINK COLOR */
/* CSS LINK COLOR */
/* CSS LINK COLOR */
/* CSS LINK COLOR */
/* CSS LINK COLOR */
a,
a:hover,
.layout-content.status-index .page-footer span a:hover,
.layout-content.status-index .timeframes-container .timeframe:not(.active):hover,
.layout-content.status-incident .subheader a:hover {
    color: #738bd7;
}

.flat-button,
.masthead .updates-dropdown-container .show-updates-dropdown,
.layout-content.status-full-history .show-filter.open {
    background-color: #738bd7;
}




/* CUSTOM COLOR OVERRIDES FOR UPTIME SHOWCASE */
.components-section .components-uptime-link {
    color: #99aab5;
}

.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item {
    color: #99aab5;
    opacity: 0.8;
}

.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
    color: #99aab5;
    opacity: 0.5;
}

.layout-content.status .shared-partial.uptime-90-days-wrapper .legend .spacer {
    background: #99aab5;
    opacity: 0.3;
}

.hide {
    display: none;
}

.hidef {
    display: none !important;
}

.component-status.partial_outage::before {
    content: "⚠" !important;
}

.component-status.major_outage::before {
    content: "ⓧ" !important;
}

#uptime-tooltip .outage-field .value-hrs {
    display: none;
}

.page-footer.border-color {
    border: none;
}

.component-container.border-color {
    border: none !important;
}